*{
    padding: 3px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 97vw;
}
#dform{
    border-radius: 5px ;
    height: 65vh;
    width: 97vw;
    position: sticky;
    top: 0px;
    /* background-color: rgba(220, 97, 220, 0.29);*/
    /* border: 1px solid black;  */
}
.ip,#dt{
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
}
#date{
    position: absolute;
    right: 0px;
    top: 0px;
}
.dip{
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    width: 50px;
}
.btn{
    position: absolute;
    left: 700px;
    bottom: -610px;
    height: 30px;
    width: 100px;
    background-color: rgb(42, 213, 42);
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: 2px -2px 2px black;
    letter-spacing: 1px;
}
.btn:hover{
    background-color: greenyellow;
    color: black;
}
@media print {
    .btn {
      display: none;
    }
}
th,td{
    text-align: start;
}
.inp{
    /* outline: none; */
    border: 1.5px;
    width: 70px;
    border-radius: 3px;
    background-color: rgba(124, 115, 124, 0.384);
}
table{
    height: 65vh;
    width: 97vw;
}
p{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: small;
}
#tw{
    width: 30px;
}
